<%= button_to "Log Out", destroy_user_session_path,	method: :delete %>
<br />
<h2>Welcome <%= current_user.first_name %></h2>

<hr />
<%= link_to "Add Your Fluffy Friend!", new_pet_path, class:"btn dark-green" %>

<h3>Your Pets</h3>
<ul>
<% @pets.each do |p| %>

<li>
<%= p.name%> - <%= p.animal %>
</li>
<% end %>